<%= stylesheet_link_tag 'custom', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/fullcalendar@6.1.13/index.global.min.js' %>
<%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/fullcalendar@6.1.13/index.global.min.css', media: 'all' %>

<div class="content-wrapper">
  <div class="header">
    <div class="title-container">
      <h1>野菜育成スケジュール</h1>
    </div>
    <div class="button-container">
      <%= link_to 'マイページに戻る', user_path(current_user), class: 'btn btn-primary analyze-button' %>
      <%= link_to '画像を分析する', '#', class: 'btn btn-primary analyze-button', data: { toggle: 'modal', target: '#analyzeImageModal', vegetable: @selected_vegetable } %>
    </div>
  </div>

  <div class="page-content">
    <p>選択された野菜: <%= @selected_vegetable %></p>
    <p>種まきの日付: <%= @sowing_date %></p>

    <div class="stamp-selection">
      <h3>今日の成長過程を選択してください</h3>
      <button class="stamp-button germination" data-stamp="germination" data-color="#ffc107">発芽</button>
      <button class="stamp-button growing" data-stamp="growing" data-color="#fdadf5">成長中</button>
      <button class="stamp-button harvest" data-stamp="harvest" data-color="#28a745">収穫</button>
      <button class="stamp-button watering" data-stamp="watering" data-color="#007bff">水やり</button>
    </div>

    <div id="calendar" data-selected-vegetable-id="<%= @vegetable.id %>"></div>
  </div>
  
  <!-- 画像アップロードフォームのモーダル -->
  <div class="modal fade" id="analyzeImageModal" tabindex="-1" role="dialog" aria-labelledby="analyzeImageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="analyzeImageModalLabel">野菜の画像をアップロードして分析</h5>
        </div>
        <%= form_with(id: 'analyze_image_form', url: analyze_image_path, local: true, multipart: true) do |form| %>
          <div class="modal-body">
            <%= form.label :vegetable_name, "野菜名を入力" %>
            <%= form.text_field :vegetable_name, value: "", required: true, id: 'vegetable_name' %><br>
            <%= form.hidden_field :translated_vegetable_name, id: 'translated_vegetable_name' %>
            <%= form.label :image, "画像をアップロード" %>
            <%= form.file_field :image, accept: 'image/jpeg,image/png', required: true %>
          </div>
          <div class="modal-footer">
            <%= form.submit "画像を分析する", class: 'btn btn-success' %>
            <%= link_to 'スケジュールに戻る', '#', class: 'btn btn-secondary', data: { dismiss: 'modal' } %>
          </div>
        <% end %>        
      </div>
    </div>
  </div>
</div>
